[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: static;
    left: 0px;
    margin-right: 4px; 
    opacity: 1; 
}

.filterBy{
    align-items: center;
    background-color: $blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    &__container{
        align-items: center;
        background-color: $blue;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 12px 16px;
        width: 80%;
    }

    &__label{
        align-items: center;
        display: flex;
        font-size: 1.6rem;
        flex-direction: row;
        justify-content: center;
        margin-left: 12px;
    }
}