.footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    text-align: center;
}

.footer__img{
    height: 125px;
    width: 125px;
}

.footer__text{
    color: $off-white;
}

// * media queries
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 374.98px) and (orientation: portrait) {
    .footer{
        padding-top: 100px;
    }

    .footer__img{
        height: 100px;
        width: 100px;
    }
}

@media (min-width: 375px) and (max-width: 413.98px) and (orientation: portrait) {
    .footer{
        padding-top: 100px;
    }

    .footer__img{
        height: 100px;
        width: 100px;
    }
}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {
    .footer{
        padding-top: 100px;
    }

    .footer__img{
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 575.98px) and (orientation: landscape) {
    .footer{
        padding-top: 100px;
    }

    .footer__img{
        height: 100px;
        width: 100px;
    }

    .footer__text{
        font-size: 1.4rem;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .footer{
        padding-top: 100px;
    }

    .footer__img{
        height: 100px;
        width: 100px;
    }

    .footer__text{
        font-size: 1.4rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .footer__img{
        height: 100px;
        width: 100px;
    }

    .footer__text{
        font-size: 1.4rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}