.header{
    align-items: center;
    background-color: $navy;
    border-radius: 2px;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 12px 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.header__title{
    color: #04D473;
    cursor: pointer;
    border: solid 2px #04D473;
    padding: 6px;
}

.header__img{
    height: 50px;
    width: 50px;
}

// header form
.header__form{
    align-items: center;
    background-color: rgb(104, 135, 172);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: center;
    transition: all .5s;
    width: 45%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.header__form:focus-within{
    width: 50%;
}

.header__form--input{
    border-bottom: none !important;
    padding-left: 20px !important;
    margin-top: 10px !important;
}

.header__form--input::placeholder{
    color: $navy;
}

.header__form input:focus + label {
    color: transparent !important;
}
/* label underline focus color */
.header__form input:focus {
    border-bottom: none !important;
    box-shadow: none !important
}

// form btns
.header__form--btn{
    background-color: transparent !important;
    color: $off-white !important;
    border: none;
    margin-right: 10px;
}

.header__form--btn--login{
    background-color: rgb(104, 135, 172) !important;
    margin-right: 10px;
}

.header__form--btn--signup{
    background-color: rgb(104, 135, 172) !important;
    margin-right: 10px;
}

.header__form--btn--favorites{
    background-color: none !important;
    background: none !important;
    border: solid 1px #04D473;
    margin-right: 10px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.header__form--btn--favorites:hover{
    background-color: #04D473 !important;
    border: solid 1px #04D473;
    margin-right: 10px;
}

.header__form--btn--signout{
    background-color: orangered !important;
}

// * media queries
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 374.98px) and (orientation: portrait) {
    .header__form--btn--login,
    .header__form--btn--signup,
    .header__form--btn--signout,
    .header__form--btn--favorites{
        display: none;
    }

    .header__form{
        height: 32px;
        width: 60%;
    }

    .header__form:focus-within{
        width: 70%;
    }

    .header__title{
        font-size: 2rem !important;
    }
}

@media (min-width: 375px) and (max-width: 413.98px) and (orientation: portrait) {
    .header__form--btn--login,
    .header__form--btn--signup,
    .header__form--btn--signout,
    .header__form--btn--favorites{
        display: none;
    }

    .header__form{
        height: 32px;
        width: 60%;
    }

    .header__form:focus-within{
        width: 70%;
    }

    .header__title{
        font-size: 2rem !important;
    }
}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {
    .header__form--btn--login,
    .header__form--btn--signup,
    .header__form--btn--signout,
    .header__form--btn--favorites{
        display: none;
    }

    .header__form{
        height: 32px;
        width: 60%;
    }

    .header__form:focus-within{
        width: 70%;
    }

    .header__title{
        font-size: 2rem !important;
    }
}

@media (max-width: 575.98px) and (orientation: landscape) {
    .header{
        height: 12vh;
        padding: 4px 8px;
    }

    .header__title{
        font-size: 1.6rem !important;
    }

    .header__form--btn--login,
    .header__form--btn--signup,
    .header__form--btn--signout,
    .header__form--btn--favorites{
        font-size: 1rem !important;
    }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .header{
        height: 12vh;
    }

    .header__title{
        font-size: 1.6rem !important;
    }

    .header__form--btn--login,
    .header__form--btn--signup,
    .header__form--btn--signout,
    .header__form--btn--favorites{
        font-size: 1.2rem !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .header{
        height: 12vh;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}