// backdrop details
.movieDetails{
    height: 100%;
}

.movieDetails__backdrop{
    align-items: flex-start;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: flex-end;
    padding-left: 50px;
    padding-bottom: 25px;
    overflow-y: scroll;
    position: relative;
}

.movieDetails__title{
    color: whitesmoke;
    font-weight: bold;
}

.movieDetails__text{
    color: $off-white;
}

//movie details btn 
.movieDetails__btn--favorite--wrap{
    border: none;
    position: absolute;
    right: 25px;
    top: 25px;
}

.movieDetails__btn--favorite{
    background-color: none !important;
    background: none !important;
    color: #04D473;
    font-size: 3rem !important;
    border: none;
}

.home{
    margin-left: 10px;
}   

// content details
.movieDetails__content--wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.movieDetails__col--one{
    align-items: flex-start;
    display: flex;
    background-color: $blue;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 25px;
    text-align: left;
    width: 50%;
}

.movieDetails__col--two{
    align-items: center;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

// trailer wrap
.movieDetails__trailer--wrap{
    height: 255px;
    padding: 10px;
    width: 90%;
}

.movieDetails__trailer{
    height: 100%;
    width: 100%;
}

// poster
.movieDetails__poster{
    height: 225px;
    width: 150px;
}

.movieDetails__cast{
    align-items: center;
    background-color: $blue;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px 16px;
    position: relative;
    width: 100%;
    &--container{
        align-items: center;
        background-color: $blue;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
    }
    &--member{
        margin: 25px;
        &--img{
            height: 300px;
            width: 200px;
        }
        &--name{
            color: $off-white;
        }
        &--char{
            color: $off-white;
        }
    }
    
}

// * media queries
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 374.98px) and (orientation: portrait) {
    .movieDetails__backdrop{
        padding-left: 15px;
        padding-bottom: 15px;
        padding-top: 410px;
    }

    .movieDetails__col--one{
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .movieDetails__title{
        font-size: 2rem !important;
    }

    .movieDetails__content--wrap{
        flex-direction: column;
        width: 100%;
    }

    .movieDetails__col--one,
    .movieDetails__col--two{
        width: 100%;
    }
}

@media (min-width: 375px) and (max-width: 413.98px) and (orientation: portrait) {
    .movieDetails__backdrop{
        padding-left: 15px;
        padding-bottom: 15px;
        padding-top: 410px;
    }

    .movieDetails__col--one{
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .movieDetails__title{
        font-size: 2rem !important;
    }

    .movieDetails__content--wrap{
        flex-direction: column;
        width: 100%;
    }

    .movieDetails__col--one,
    .movieDetails__col--two{
        width: 100%;
    }
}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {
    .movieDetails__backdrop{
        padding-left: 15px;
        padding-bottom: 15px;
        padding-top: 410px;
    }

    .movieDetails__col--one{
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .movieDetails__title{
        font-size: 2rem !important;
    }

    .movieDetails__content--wrap{
        flex-direction: column;
        width: 100%;
    }

    .movieDetails__col--one,
    .movieDetails__col--two{
        width: 100%;
    }
}

@media (max-width: 575.98px) and (orientation: landscape) {
    .movieDetails__backdrop{
        padding-top: 350px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .movieDetails__backdrop{
        padding-top: 350px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .movieDetails__backdrop{
        padding-top: 350px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}