.moviesList__title--container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
}
.moviesList__title{
    color: #fff;
    font-weight: bolder;
    padding: 0px 16px;
    margin: 0;
}

.movieList__wrap{
    align-items: flex-start;
    background-color: $blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    // height: 100%;
    // overflow-y: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    text-align: center;
    width: 100%;
}
.movieList__wrap--short--padding{
    align-items: flex-start;
    background-color: $blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    // height: 100%;
    // overflow-y: scroll;
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
    text-align: center;
    width: 100%;
}

.favMovieList__wrap{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    overflow-y: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    text-align: center;
    width: 100%;
    &::-webkit-scrollbar {
        display: none;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}