.pagination__wrap{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.pagination__btn{
    color: rgb(104, 135, 172);
    background: none;
    background-color: none;
    border: solid 1px rgb(104, 135, 172);
    height: 35px;
    width: 35px;
    border-radius: 100px;
    margin: 5px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    text-align: center;
}

.pagination__btn:active,
.pagination__btn:focus,
.pagination__btn:hover{
    color: $navy;
    background: #6887ac;
}