*{
    list-style: none;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: $m-size;
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

