//spacing
$xs-size: .5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.2rem;

// colors
$blue: #243B55;
$gradient-blue: -webkit-linear-gradient(to right, #243B55, #141E30);
$navy: #141E30;
$off-black: #2F3032;
$off-white: #F5F4F3;



